<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document1</title>
</head>
<body>
    
    <h1>This is html2.html file</h1>

    <h1>Welcome Mr/Ms {{name}}</h1>
    <h1>age is {{age}}</h1>
    <h1>{{d}}</h1>

    <a href="https://photos.google.com/photo/AF1QipPBq8efH1LlkcjbGXupjEXQ6QFYqsGP7-eivIFs">click on this to go to see the pick</a>
</body>
</html>